
<h1>Hello Rails on Lambda (test action)</h1>

<%= render partial: 'navigation' %>

<img src="https://media.giphy.com/media/d39Ml0m27VhB8PsLg5/giphy.gif" alt="Hello Rails on Lambda!!!" style="width: 98vw; box-sizing: border-box;">
