div.highlight {
  border-radius: 6px;
  overflow-x: auto;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(mui-color('black'), 0.16),
              0 0px 2px 0 rgba(mui-color('black'), 0.12);
  margin-bottom: 1rem;
  background-color: rgba(18, 43, 59, 0.5);
  pre.highlight {
    border-radius: 6px;
    padding: 0.75rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
  }
}
