// customize MUI variables
// $mui-primary-color:       mui-color('purple', '500');
// $mui-primary-color-dark:  mui-color('purple', '700');
// $mui-primary-color-light: mui-color('purple', '100');

// $mui-accent-color:        mui-color('green', 'A200');
// $mui-accent-color-dark:   mui-color('green', 'A100');
// $mui-accent-color-light:  mui-color('green', 'A400');
