.sp-Flash {
  text-align: left;
  background-color: rgba($lb-aqua, 0.8);
  border-radius: 4px;
  &--alert {
    color: #444444;
    background-color: rgba(#ffee58, 0.8);
    a {
      color: #444444;
      text-decoration: underline;
      &:hover, &:focus { color: #444444; }
    }
  }
}
