$ci-font-name: 'SharpSans';

@mixin ci-font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal
) {
  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src: url('#{$file-path}.eot');
    src:
      url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
      url('#{$file-path}.woff2') format('woff2'),
      url('#{$file-path}.woff') format('woff');
  }
}

// Ligher

@include ci-font-face(
  $ci-font-name,
  'https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001',
  $weight: 100,
  $style: normal
);
@include ci-font-face(
  $ci-font-name,
  'https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001',
  $weight: 100,
  $style: italic
);

// Normal

@include ci-font-face(
  $ci-font-name,
  'https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001',
  $weight: normal,
  $style: normal
);
@include ci-font-face(
  $ci-font-name,
  'https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001',
  $weight: normal,
  $style: italic
);

// Bold

@include ci-font-face(
  $ci-font-name,
  'https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001',
  $weight: bold,
  $style: normal
);
@include ci-font-face(
  $ci-font-name,
  'https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001',
  $weight: bold,
  $style: italic
);

// Bolder (same as Bold)

@include ci-font-face(
  $ci-font-name,
  'https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001',
  $weight: 700,
  $style: normal
);
@include ci-font-face(
  $ci-font-name,
  'https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001',
  $weight: 700,
  $style: italic
);
