.lb-Page {
  &--docs {
    h2 code, 
    h3 code {
      padding: 2px 4px;
      background-color: rgba(18, 43, 59, 0.2);
      border-radius: 3px;
    }
    h2[id],
    h3[id] {
      padding-top: 80px;
      margin-top: -80px;
      &:before {
        content: '';
        display: block;
        height: 15px;
      }
    }
    p > strong {
      color: $lb-aws-orange;
    }
    ul > li > ul {
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 1rem;
    }
    @media (min-width: $mui-screen-md-min) {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
  &-nav {
    float: right;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
