
$lb-aqua: #00a79b;
$lb-blue: #048ba2;
$lb-red:  #b82c25;
$lb-yellow: #ffee58;
$lb-aws-orange: #ff9900;
$lb-aws-blue: #146Eb4;
$lb-teal: lighten(#06a99c, 10%);

$mui-base-font-size: 16px;
$mui-base-line-height: 1.5;
$mui-base-font-color: white;
$mui-link-font-color: #ffe57f;
$mui-btn-default-font-color: mui-color('black-alpha-87');
$mui-base-font-family: SharpSans, "Gill Sans", Arial, Verdana, Tahoma !default;
