.lb-Welcome {
  &-header {
    width: 90%;
    font-size: 10vw;
    line-height: 1.15;
    margin-top: 2rem;
    @media (min-width: $mui-screen-sm-min) {
      font-size: 9.5vw;
    }
    @media (min-width: $mui-screen-md-min) {
      font-size: 6.5vw;
    }
    @media (min-width: $mui-screen-lg-min) {
      font-size: 5.5vw;
      width: 80%;
    }
    @media (min-width: $mui-screen-xl-min) {
      font-size: 4.5vw;
      width: 70%;
    }
  }
  &-subheader {
    color: $lb-yellow;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  &-arch {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 1rem;
  }
  &-news { }
  &-newsImage {
    float: right;
    width: 20%;
  }
  &-cta { }
  &-actions {
    @media (min-width: $mui-screen-lg-min) {
      display: none;
    }
  }
}
